@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-2 px-4 border-[1px] border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: black;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

::selection {
    background: #d4d4d8;
}

::-moz-selection {
    background: #d4d4d8;
}

:root.dark ::selection {
    background: #3f3f46;
}

:root.dark ::-moz-selection {
    background: #3f3f46;
}


:root.dark {
    background-color: black;
    color: white;


}

button,
input,
select,
textarea {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

input,
select,
textarea {
    padding: 2px 0 2px 2px;
    border: solid black 1px;
}

input[type=checkbox] {
    appearance: none;
    margin: 0;

    border-radius: 0;
    width: 1rem;
    height: 1rem;
    border: 0.15em solid currentColor;

    display: grid;
    place-content: center;

    padding: 0px;

}

input[type="checkbox"]::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    transform: scale(0);
    box-shadow: inset 1rem 1rem;

}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


*:focus-visible {
    outline: 2px solid black;
    outline-offset: 0px;
    z-index: 10;
}

::-webkit-calendar-picker-indicator {
    fill: black;
}

:root.dark ::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

* {
    border-color: black;
}

:root.dark * {
    border-color: white;
}